.top_header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 15px 0px;
}
img{
    width: 150px;
    height: 50px;
}
.search-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    background-color: var(--bg_color);
    border: 1px solid var(--main_color);
    border-radius: 30px;

}
.search-box input{
    width: 450px;
    height: 45px;
    padding: 5px 15px 5px 20px;
    background-color: var(--bg_color);
    border-radius: 30px;
}
.search-box button{
     background-color: var(--main_color);
     height: 45px;
     width: 50px;
     cursor: pointer;
     border-radius:0px 30px 30px 0px;


}
.search-box button svg{
    font-size: 20px;
    fill: var(--white_color);
}
.header_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    cursor: pointer;

}
.header_icon .icon svg{
font-size: 30px;
}
.header_icon .icon span{
    border-radius: 100%;
    position: absolute;
    right: -4;
    top: 0;
    background-color: var(--main_color);
    color: var(--white_color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* Bottom Header  */


.bottom_header{
    background-color: var(--main_color);
}
.bottom_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 50px;
   
}
.nav .category_nav{
    width: 220px;
    height: 100%;
    position: relative;
   
}
.category_nav .category_list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white_color);
    border: 1px solid var(--border_color);
    border-top: 0;
    
    cursor: pointer;
    max-height: 400px;
    overflow-y: auto;
     clip-path: polygon(0 0, 100% 0,100% 0, 0 0);
     transition: 0.3s ease-in-out;
     z-index: 100;

}
.category_nav .category_list.active{
     clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
}
.category_nav a{
    padding: 15px 10px;
    border: 1px solid var(--border_color);
    font-size: 14px;
}
.category_nav a:last-child{
    border-bottom: 0;
}

.category_nav .category_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--main_color);
    padding: 0 10px;
    cursor: pointer;
    color: var(--white_color);
    font-size: 15px;
    font-weight: 600;
   
}

.category_link{
    display: flex;
    height: 100%;
}
.category_link li{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25px;
}
.category_link li a{
    color: var(--white_color);
    font-size: 30px;
}
.category_link li.active{
    background: #0079ca;
}

.container .register_icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.container .register_icon .theme_btn{
   background: transparent;
   cursor: pointer;
}

.container .register_icon svg{
    fill: var(--white_color);
    font-size: 25px;


}


/* ////////////////////////search_box////////// */

/* .search-box_2{
    position: relative;
     width: 500px;
} */
ul.search_result{
    position: absolute;
    top: 100%;
    background-color: var(--white_color);
    border: 1px solid var(--border_color);
    list-style: none;
    width: 100%;
    
    border-radius: 10px;
    padding: 0;
    margin: 0;
    z-index: 100000;
}
.search_result li{
    padding: 5px 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid var(--border_color);

}
.search_result li img{
    width: auto;
    height: 30px;
    object-fit: contain;
}
.search_result li span{
    font-size: 14px;
    font-weight: 500;
}



/* ///////////////////////////////////madia manue//////////////////// */

.mobile_menuicon{
    display: none;
    cursor: pointer;
    
    
    
}
.mobile_menuicon svg{
    font-size: 15px;
    color:var(--white_color);
}
.mobile_menuicon .mo_page{
    font-size: 15px;
    color:var(--white_color);
}

.mobile_menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg_color);
    
    border-bottom:1px solid var(--border_color) ;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    
}
.mobile_menu.active{
    max-height: 300px;
}

.mobile_menu li{
    list-style: none;
    padding: 10px ;
     border-bottom:1px solid var(--border_color) ;
}
.mobile_menu li a{
    color: var(--main_color);
    
}



/* /////////////////////////////madia quary/////////////////////////////  */
@media(max-width:1024px){
    .nav{
        gap: 40px;
    }
    .menu1{
        display: none;
    }
    .nav .category_nav{
        width: 200px;
    }
    .category_link li{
         padding: 0 20px;
    }
    .category_link li a{
        font-size: 25px;

    }
    .register_icon{
        gap: 15px;
    }
    .top_header img{
        width: 120px;
    }
    .search-box{
        width: 450px;
    }
    .search-box input{
        width: 400px;
    }
    /* .header_icon{
        gap: 15px;
    } */
    .header_icon .icon svg{
        width: 25px;
    }

}
@media(max-width:800px){
    .category_link li a{
        font-size: 20px;

    }
    .nav .category_nav{
        width: 180px;
    }
    .nav{
        gap: 35px;
    }
    .category_link li{
         padding: 0 18px;
    }
    

}
@media(max-width:768px){
    .nav{
        gap: 30px;
    }
    .menu1{
        display: none;
    }
    .nav .category_nav{
        width: 165px;
    }
    .category_link li{
         padding: 0 14px;
    }
    .category_link li a{
        font-size: 20px;

    }
    .container .register_icon{
    
    gap: 15px;
     }
    .register_icon svg{
    font-size: 20px;
    }
    .top_header img{
        width: 100px;
    }
    .search-box{
        width: 350px;
    }
    .search-box input{
        width: 300px;
    }
    .search-box button{
        width: 50px;
    }
    .header_icon .icon svg{
        font-size: 25px;
    }
        
    

}
@media (max-width:620px) {
    .category_link li a{
        font-size: 15px;
    }
    .nav{
        gap: 20px;
    }
    .category_link li {
        padding: 0 10px;
    }
    .register_icon .theme_btn svg{
        font-size: 20px;

    }
    .top_header img{
        display: none;}
    .search-box{
        width: 300px;
    }
    .search-box input{
        width: 260px;
    }
    .search-box button{
        width: 40px;
    }
    .header_icon .icon svg{
        font-size: 22px;
    }

    
}
@media (max-width:500px){
    .mobile_menuicon{
        display: flex;
        gap:5px;
        font-weight: 600;

    }
    .mobile_menu{
        display: block;
        z-index: 99999;
    }

    .category_link{
        display: none;
    }
    .nav{
       
        gap: 10px;
    }

}

@media (max-width:426px){

    
    .search-box{
        width: 250px;
    }
    .search-box input{
        width: 210px;
    }
    
}
@media (max-width:321px){

    .mobile_menuicon{
        display: flex;
        gap:5px;
        font-weight: 600;

    }
    .mobile_menu{
        display: block;
        z-index: 99999;
    }

    .category_link{
        display: none;
    }
    .nav{
       
        gap: 8px;
    }
    .search-box{
        width: 200px;
    }
    .search-box input{
        width: 160px;
    }
    
}